
body{
  background-image: url("space.jpg");
}
h1{
  text-align: center;
}

.container{
  margin-top: 5rem;
  height: 80%;
}

.btn{
  width: 100%;
}

#calculator{
  max-width: 2rem;
  max-height: 2rem;
}
